@import "tailwindcss";


@layer base {
  html, body {
    height: 100%;       
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    background-color: #111;
  }
}
.mySwiper-marquee .swiper-wrapper {
  transition-timing-function: linear !important;
}