/* src/components/react/CubeSlider/CubeSlider.css */
.swiper-slide {
  /* Asegura que el slide ocupe todo el espacio y centre contenido */
  display: flex !important; 
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}