---
import CubeSlider from '../components/react/CubeSlider/CubeSlider';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main class="h-full w-full">
		<CubeSlider client:only="react"/>
	</main>
</Layout>
